@use 'sass:math';
@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}
header, footer {
	background-color: lighten($color: #52fdf2ad, $amount: 30);
}
.header, .footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 $gutter;
	height: 70px;
	z-index: 100;
	
	.logo {
		margin: 0;
		padding: 0;
		a {
			color: $text;
			text-decoration: none;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 22px;
		}
	}
	ul {
		display: flex;
		margin: 0;
		padding: 0;
		li {
			list-style-type: none;
			margin-left: 25px;
			a {
				color: $text;
				text-decoration: none;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 19px;
			}
		}
	}
}
.footer {
	height: 170px;
}
.logo__foo {
	display: flex;
	flex-direction: column-reverse;
}
.card {
	padding-top: 10vh;
}
.brc {
	&__list {
		display: flex;
		margin: 0;
		padding: 0;
		.active {
			font-weight: 600;
			&::before {
				content: "\f105";
				font-family: 'FontAwesome', sans-serif;
				padding: 0 10px;
				color: #888;
			}
		}
	}
	&__item {
		list-style: none;
		font-size: 14px;
		a {
			color: #888;
			text-decoration: none;
		}
	}
}

.section{
	&__bracrambs {
		line-height: 60px;
	}
	&__one {
		background-image: url(../img/slide.jpg);
		background-size: cover;
		background-position: center;
		display: block;
		height: 75vh;
		position: relative;
		margin-bottom: 24px;
		.blur {
			position: absolute;
			background-color: rgba(51, 50, 50, 0.8);
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
		}
	}
	&__categories {

	}
	
}
.overlay {
	.custom {
		&__title {
			color: #fff;
			font-weight: bold;
			line-height: 0.8;
			width: 400px;
		}
		&__teme {
			color: rgb(240, 240, 240);
			line-height: 1.3;
			width: 400px;
		}
		&__button {
			a {
				color: #fff;
				text-transform: uppercase;
				font-weight: bold;
				text-decoration: none;
				padding: 5px;
			}
		}
	}
}
.card {
	img {
		width: 100%;
	}
}
.badges {
	text-transform: uppercase;
	font-weight: bold;
	margin: 0;
	padding-top: 1.5rem;
	&-cat {
		text-transform: uppercase;
		font-weight: bold;
		margin: 0;
	}
}
.widget__filter {
	max-width: 300px;
	padding-bottom: 28px;
	border-bottom: 1px solid rgb(202, 202, 202);
	ul {
		list-style: none;
		padding: 0;
		margin-top: 0;
		margin-bottom: 10px;
		display: block;
		li {
			list-style: none;
			.active {
				color: #222;
				font-weight: 600;
				font-size: 14px;
				&::before {
					background-color: #222;
					border-color: #222;
				}
			}
			a {
				text-decoration: none;
				color: $text;
				position: relative;
				padding-left: 35px;
				line-height: 40px;
				cursor: pointer;
				&::before {
					content: "";
					position: absolute;
					display: block;
					left: 0;
					top: 0;
					width: 18px;
					height: 18px;
					background-color: #fff;
					border: 1px solid #cdcdcd;
					border-radius: 50%;
				}
				&::after {
					content: "";
					position: absolute;
					display: block;
					left: 0px;
					top: 0;
					width: 18px;
					height: 18px;
					opacity: 0;
					background: #333333;
					border-radius: 50%;
				}
			}
		}
	}
}
@import "media"; // Always at the end
